.notification-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
    margin-inline: auto;
    height: auto;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.87);
    z-index: 991 ;
   margin-bottom: 10px;
}
.application{
    height: 100vh;
    width: 100%;
}
.left-notification{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-left:15px;
}
.left-notification span{
    margin-left: 13px;
    font-weight: 400;
    font-size: 20px;
}

.overlay-soon{
    width: 100% !important;
    height: fit-content !important;
    filter: brightness(30%);
    display: flex !important;
    
    justify-content: center !important;
    align-items: center !important;

    z-index: 99 !important;
    transition: 180ms ease-out;
}

.soon-wrapper{
    height: calc(100vh - 117px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 60px;
    
}

.card-soon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
   
    z-index: 1;
   
}

.image-soon{
    width: 100%;
    height: auto;
    border-radius: 0px;
    border-bottom: 2px solid red;
    display: flex;
    z-index: 0;
    
}

.data-soon{
    width: 95%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.soon-name{
    color: white;
    font-size: 20px;
    width: 97%;
   text-overflow: ellipsis;
   word-wrap: break-word;
   overflow: hidden;
}

.soon-desc{
    font-size: 16px;
    margin-top: -5px;
    color: gray;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.5em;
    margin-top: -15px;
    width: 95%;
}
.soon-time{
    color: gray;
    margin-top: -15px;
    margin-bottom: -15px;
}

.data-soon-banner{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
.soon-name-banner{
    width: 50%;
    color: red;
    font-family: 'Lobster Two', cursive;
    font-size: large;
}

.options-soon{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25px;
}

.soon-icon{
    color: white;
    font-size: 25px;
}

.icon-txr{
    color: gray;
    font-size: 12px;
    margin-top: 6px;
}

.toTop{
    position: fixed;
    bottom: 75px;
    background-color: red;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    margin-inline: auto;
    left: calc(50% - 65px);
    right: calc(50% - 65px);
}