@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

.row{
   text-align: left;
   width: 100%;
   height: 150px;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Hind Siliguri', sans-serif;
   text-shadow: 1px 1px 1px black;
   z-index: 5;
   height: fit-content;
   margin-top: -10px;

   
 
}#background-video{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    display: flex;
    z-index: 99999;
    padding: none;
    position: fixed; /* optional depending on what you want to do in your app */
    
    
    }
.rated{
     width: 100%;
     height: auto;
    object-fit: contain;
}
.row__poster{
    object-fit: contain;
    width: 100%;
    height: auto;
    background-color: rgba(124, 124, 124,0.4);
    transition: transform 350ms;
    border-radius: 5px;
    cursor: grab;
    animation: fader 400ms;
}
.row__poster:hover{
    transform: scale(1.04);
}

.rws{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.swiper-container{
    margin-top: -10px;
}
.large_rows{
    margin-top: -20px;
    margin-left: 10px;/*ovo*/
}
.row-title{
    margin-left: 10px;/*ovo*/
}
.row__posters{
    margin-top: -20px;
    margin-left: 10px;/*ovo*/

}
@keyframes leaves {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
.swiper_slide_large{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
     
 
}
.swiper_slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
        padding-top: 10px;
        animation: scaleIn 500ms;
        padding-bottom: 10px;
      
}

.margin__h2_{
    margin: 0px;
    padding: 0px;
}



@media only screen and (max-width:900px) and (min-width:300px) {
    .swiper_slide{
        height: fit-content;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .row__poster:hover{
        transform: scale(1.02);
    }
    .row-title{
        margin-bottom: 17px;
        font-size: 21x;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
.row-index,.row-index-10{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0%,-50%);
      font-weight: 100;
    font-family: 'Bungee Shade', cursive;
    color: rgb(206, 206, 206);
    text-shadow: 3px 3px 3px black;
}
.row-index{
    font-size: 130px;
}

@keyframes scaleIn{
    0%{scale: 0;}
    100%{scale: 1;}
}
.row-index-10{
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-00%,-50%);
}

@media only screen and (max-width:600px) and (min-width:300px){
    .row-index,.row-index-10{
        position: absolute;
        top: 30%;
        left: 0%;
        transform: translate(-0%,-50%);
          font-weight: 100;
        font-family: 'Bungee Shade', cursive;
        color: rgb(206, 206, 206);
        text-shadow: 3px 3px 3px black;
    }
    .row-index{
        font-size: 90px;
    }
    .row-index-10{
        font-size: 90px;
        position: absolute;
        top: 30%;
        left: 0%;
        transform: translate(-0%,-50%);
    }
    
}
@keyframes fader {
    0%{opacity: 0;}
    100%{opacity: 1;}
}