.component-div{
    width: 100%;
    height: 100vh;
    animation: search 500ms;
    position: absolute;
    top: 0px;
}

@keyframes search{
    0%{transform: translate(100%);}
    100%{transform: translate(0%);}
}
.search-bar-wrpe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
}
.search-bar{
    background-color: #2f2f2f;
    width: 700px;
    height: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon-search{
    font-size: 26px;
    color: #d2d2d2;
}
#search{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 7px;
    width: 90%;
    font-size: 25px;
    color: #d2d2d2;
    padding-top: 5px;
    padding-bottom: 5px;
}
::placeholder{
    font-size: 20px;
}

@media only screen and (max-width:700px) {
    .search-bar{
        width: 100%;
    }
    #search{
        width: calc(100% - 40px);
        font: 18px;
    }
    ::placeholder{
        font-size: 18px;
    }
    
    .search-icon-search{
       margin-left: 15px;
    }
}

.movie-his{
    height: 155px;
    width: auto;
}

.text-style{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding-inline: 10px;
    font-size: 25px;
}

.def-movie-his{
    width: 100%;
    padding: 0px;margin-top: 3px;
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    color: white;
    font-size: 15px;
    font-weight: 100;
    height: fit-content;
}

.play-his{
    margin-right: 15px;
}

@media only screen and (max-width:1000px) {
    .movie-his{
        height: 65px;
        width: auto;
    }
    .text-style{
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        padding-inline: 10px;
        font-size: 13px;
    }

}

.def-movie-his:hover{
    background-color: #181818;
    transition: 250ms ease-out;
}

.def-movie-his:active{
    background-color: #181818;
    transition: 250ms ease-out;
}



.Src-his{
    color: white;
    font-size: 21px;
    font-weight: 500;
}